.head {
	text-align: center;
	margin-top: 3rem;
}
.signup-illustration {
	text-align: center;
}
.inputs {
	width: 306px;
	margin: auto;
	margin-top: 2rem;
}
.btn-submit {
	width: max-content;
	margin: auto;
	margin-top: 2rem;
}
.primary-button {
	background: linear-gradient(90deg, #97c6fa 0%, #bface9 58.85%, #d5a0d7 77.6%, #ed9798 100%);
	border-radius: 27px;
	font-size: 18px;
	padding: 10px 76px;
	border: none;
}
.login {
    text-align: center;
    font-size: 42px;
}
.primary-input {
	width: 100%;
	margin: 0px 0px 13px 0px;
	border: none;
	border-bottom: 1.5px solid #333;
	height: 37px;
	outline: none;
	font-size: 16px;
	padding: 0 7px;
}
#error {
	text-align: center;
	margin-top: -13px;
	font-size: 14px;
	color: red;
}
.primary-input:focus {
	background-color: #d8ecec;
	border-radius: 3px;
}
.field-icon,
.fa-eye-slash {
	float: right;
	margin-left: -25px;
	margin-top: 9px;
	position: relative;
	z-index: 2;
}
