.search label {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 7px 13px;
    border-radius: 30px;
    margin-top: 2rem;
}
.search label input {
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    width: 100%;
}
.search-icon {
    color: #fff;
}
.search label input:focus {
    color: #fff;
}
.channel-avatar {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-gap: 5px;
    margin: auto;
}
.item1 {
    grid-area: 1 / 1 / 2 / 2;
}
.item2 {
    grid-area: 1 / 2 / 2 / 3;
}
.item3 {
    grid-area: 2 / 1 / 3 / 2;
}
.item4 {
    grid-area: 2 / 2 / 3 / 3;
}
.header {
    display: flex;
    align-items: center;
    margin: 2.5rem 1rem;
}
.header p {
    margin-left: 9px;
}
.show-more {
    margin: 1rem 0;
}
.show-more p {
    border: 1px solid #000;width: max-content;
    padding: 5px 8px;
    margin: auto;
}
.count {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.trending-list {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: 1.5rem auto;
}
.icon30 {
    font-size: 16px !important;
    margin-right: 3px;
}
.red {
    color: red;
}
.green {
    color: green;
}